In [50]:
import os
os.environ["GOOGLE_APPLICATION_CREDENTIALS"]="/Users/oscarmontero/Google Drive/Ironhack_Data_Analytics_Bootcamp/ironhack_service_account_big_query.json"

from google.cloud import bigquery

client = bigquery.Client()

import six
six.moves.reload_module(six)

# Challenge 1

## Step 1 - Calculate the royalties of each sales for each author

In [51]:
query_1 = '''

SELECT 
 authors.au_id AS AUTHOR_ID, 
 titles.title_id AS TITLE_ID, 
 titles.price * sales.qty * (titles.royalty / 100) * (titleauthor.royaltyper / 100) AS SALES_ROYALTY

FROM 
`ironhack-data-analytics-265219.publications.authors` authors

JOIN

`ironhack-data-analytics-265219.publications.titleauthor` titleauthor

ON

authors.au_id = titleauthor.au_id

JOIN

`ironhack-data-analytics-265219.publications.titles` titles

ON

titleauthor.title_id = titles.title_id

JOIN

`ironhack-data-analytics-265219.publications.sales` sales

ON

titles.title_id = sales.title_id

GROUP BY

AUTHOR_ID, 
TITLE_ID,
SALES_ROYALTY

ORDER BY
AUTHOR_ID
 
'''

In [52]:
query_job = client.query(query_1)
df = query_job.to_dataframe()
df

      AUTHOR_ID TITLE_ID  SALES_ROYALTY
0   172-32-1176   PS3333         29.985
1   213-46-8915   BU1032          3.998
2   213-46-8915   BU1032          7.996
3   213-46-8915   BU2075         25.116
4   238-95-7766   PC1035        110.160
5   267-41-2394   BU1111         11.950
6   267-41-2394   TC7777          8.994
7   274-80-9391   BU7832         29.985
8   409-56-7008   BU1032          5.997
9   409-56-7008   BU1032         11.994
10  427-17-2319   PC8888         50.000
11  472-27-2349   TC7777          8.994
12  486-29-1786   PS7777         19.975
13  648-92-1872   TC4203         33.460
14  672-71-3249   TC7777         11.992
15  712-45-1867   MC2222         23.988
16  722-51-5454   MC3021         13.455
17  722-51-5454   MC3021          8.073
18  724-80-9391   PS1372         10.795
19  724-80-9391   BU1111         17.925
20  756-30-7391   PS1372         32.385
21  807-91-6654   TC3218         83.800
22  846-92-7186   PC8888         50.000
23  899-46-2035   PS2091          1.971
24  899-46-2035   PS2091         49.275
25  899-46-2035   PS2091          6.570
26  899-46-2035   PS2091         13.140
27  899-46-2035   MC3021          4.485
28  899-46-2035   MC3021          2.691
29  998-72-3567   PS2091          1.971
30  998-72-3567   PS2091         49.275
31  998-72-3567   PS2091          6.570
32  998-72-3567   PS2091         13.140
33  998-72-3567   PS2106         17.500

## Step 2: Aggregate the total royalties for each title for each author

In [53]:
query_2 = '''

SELECT 
 authors.au_id AS AUTHOR_ID, 
 titles.title_id AS TITLE_ID, 
 SUM(titles.price * sales.qty * (titles.royalty / 100) * (titleauthor.royaltyper / 100)) AS TOTAL_SALES_ROYALTY

FROM 
`ironhack-data-analytics-265219.publications.authors` authors

JOIN

`ironhack-data-analytics-265219.publications.titleauthor` titleauthor

ON

authors.au_id = titleauthor.au_id

JOIN

`ironhack-data-analytics-265219.publications.titles` titles

ON

titleauthor.title_id = titles.title_id

JOIN

`ironhack-data-analytics-265219.publications.sales` sales

ON

titles.title_id = sales.title_id

GROUP BY

AUTHOR_ID, 
TITLE_ID

ORDER BY
AUTHOR_ID
 
'''

In [54]:
query_job = client.query(query_2)
df = query_job.to_dataframe()
df

      AUTHOR_ID TITLE_ID  TOTAL_SALES_ROYALTY
0   172-32-1176   PS3333               29.985
1   213-46-8915   BU1032               11.994
2   213-46-8915   BU2075               25.116
3   238-95-7766   PC1035              110.160
4   267-41-2394   BU1111               11.950
5   267-41-2394   TC7777                8.994
6   274-80-9391   BU7832               29.985
7   409-56-7008   BU1032               17.991
8   427-17-2319   PC8888               50.000
9   472-27-2349   TC7777                8.994
10  486-29-1786   PS7777               19.975
11  648-92-1872   TC4203               33.460
12  672-71-3249   TC7777               11.992
13  712-45-1867   MC2222               23.988
14  722-51-5454   MC3021               21.528
15  724-80-9391   PS1372               10.795
16  724-80-9391   BU1111               17.925
17  756-30-7391   PS1372               32.385
18  807-91-6654   TC3218               83.800
19  846-92-7186   PC8888               50.000
20  899-46-2035   PS2091               70.956
21  899-46-2035   MC3021                7.176
22  998-72-3567   PS2091               70.956
23  998-72-3567   PS2106               17.500

## Step 3: Calculate the total profits of each author

In [48]:
query_3 = '''

SELECT 
 authors.au_id AS AUTHOR_ID, 
 titles.title_id AS TITLE_ID, 
 SUM( (titles.price * sales.qty * (titles.royalty / 100) * (titleauthor.royaltyper / 100)) + titles.advance) AS TOTAL_PROFIT

FROM 
`ironhack-data-analytics-265219.publications.authors` authors

JOIN

`ironhack-data-analytics-265219.publications.titleauthor` titleauthor

ON

authors.au_id = titleauthor.au_id

JOIN

`ironhack-data-analytics-265219.publications.titles` titles

ON

titleauthor.title_id = titles.title_id

JOIN

`ironhack-data-analytics-265219.publications.sales` sales

ON

titles.title_id = sales.title_id

GROUP BY

AUTHOR_ID, 
TITLE_ID

ORDER BY
TOTAL_PROFIT DESC

LIMIT
3

'''

In [49]:
query_job = client.query(query_3)
df = query_job.to_dataframe()
df

     AUTHOR_ID TITLE_ID  TOTAL_PROFIT
0  722-51-5454   MC3021     30021.528
1  899-46-2035   MC3021     30007.176
2  213-46-8915   BU2075     10150.116

# Challenge 2

In [ ]:
most_profit_authors = '''

CREATE TABLE 

publications.most_profiting_authors (

au_id STRING,
profits NUMERIC)